<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.withThymeleaf.mapper.UserMapper">

    <select id="findByUserName" resultType="User">
        select *
        from `user`
        where username = #{username}
    </select>

    <!--使用自动递增主键-->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into `user`
        values (#{id}, #{username}, #{realname}, #{password}, #{gender})
    </insert>

</mapper>